<div class="wrapper fadeInDown">
    <div id="formContent">


        <form [formGroup]="peliculasForm" (ngSubmit)="OncrearMovie(peliculasForm.value) ">
            <div>
                <input type="text" class="fadeIn second" placeholder="Nombre de la pelicula" formControlName="nombreP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="file" class="fadeIn second" placeholder="Imagen de la pelicula" (change)="onFileSelected($event)" formControlName="imagenP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="number" class="fadeIn second" placeholder="Precio de la pelicula" formControlName="precioP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="date" class="fadeIn second" placeholder="fecha de estreno de la pelicula" formControlName="estrenoP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="time" class="fadeIn second" placeholder="duracion de la pelicula" formControlName="duracionP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="text" class="fadeIn second" placeholder="nombre del genero de la pelicula" formControlName="nombreGP" [class.is-invalid]="">
                <br><small *ngIf="" class="text-danger"></small>
            </div>
            <div>
                <input type="submit" class="fadeIn fourth" value="crear una Pelicula">
            </div>
        </form>
