<div style="display: flex; align-items:center; justify-content: center;">
    <input type="text" [(ngModel)]="term" placeholder="Buscador de pelicula"><i class="bi bi-search"></i>
</div>
<div class="row ">
    <div *ngFor="let item of sala|filter:term" class="col-md-3 p-5 ">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Nombre : {{item.nombreS}}</h5>
                <h5 class="card-title">Asientos: {{item.numeroAsientos}}</h5>
                <a class="btn btn-primary " [routerLink]='["/principal/sala/editar/",item.id]'>Editar</a>
                <button class="btn btn-danger mx-2 " (click)="onDelete(item.id) ">Eliminar</button>
            </div>
        </div>
    </div>
</div>
