<!-- Navigation -->

<body>
    <nav class="navbar navbar-expand-lg bg-danger static-top w-100 ">
        <div class="container">
            <a class="navbar-brand">
                <i class="bi bi-film text-light" routerLink="principal/">  Cinema       </i>


            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse mt-1  mx-3" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light mx-3" routerLink="/principal">Inicio</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="rol==='Admin'">
                        <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pelicula
          </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="pelicula/crear">Crear Pelicula</a></li>
                            <li><a class="dropdown-item" routerLink="pelicula/ver"><i class="bi bi-tv">Ver Pelicula                    </i>
                          </a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf="rol==='Admin'">
                        <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sala
        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="sala/crear">Crear Sala</a></li>
                            <li><a class="dropdown-item" routerLink="sala/ver"><i class="bi bi-tv">Ver Sala                    </i>
                          </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf="rol==='Admin'">
                        <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sala_Pelicula
      </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="sala_pelicula/crear">Crear Sala_Pelicula</a></li>
                            <li><a class="dropdown-item" routerLink="sala_pelicula/ver"><i class="bi bi-tv">Ver Sala_Pelicula                   </i>
                        </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf="rol==='Empleado'">
                        <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Boleto
    </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="boleto/ver"><i class="bi bi-tv">Ver Boleto                   </i>
                      </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf="rol==='Admin'">
                        <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Venta
  </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" routerLink="venta/ver"><i class="bi bi-tv">Ver Venta                   </i>
                    </a></li>

                            <li><a class="dropdown-item" routerLink="venta/ventaD">Venta Diaria </a></li>
                            <li><a class="dropdown-item" routerLink="venta/ventaDU">Venta Diaria Usuario</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light mx-3" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  Salir
</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                            <li>
                                <a class="dropdown-item" routerLink="/login">Cerrar Session
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div>
    </div>
    <router-outlet> </router-outlet>

</body>
