<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/logo2.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->

        <form [formGroup]="registerForm" (ngSubmit)="OnRegister(registerForm.value)">
            <div>
                <input type="text" class="fadeIn second" placeholder="nombre" formControlName="nombreU" [class.is-invalid]="validarnombre">
                <br><small *ngIf="validarnombre" class="text-danger">Ingrese un nombre</small>
            </div>
            <div>
                <input type="text" class="fadeIn second" placeholder="apellido" formControlName="apellidoU" [class.is-invalid]="validarapellido">
                <br><small *ngIf="validarapellido" class="text-danger">Ingrese un apellido</small>
            </div>
            <div>
                <input type="text" class="fadeIn second" placeholder="cedula" formControlName="cedulaU" [class.is-invalid]="validarcedula">
                <br><small *ngIf="validarcedula" class="text-danger">Ingrese un minimo de 10 digitos</small>
            </div>
            <div>
                <input type="text" class="fadeIn second" placeholder="correo" formControlName="correoU" [class.is-invalid]="validarusuario">
                <br><small *ngIf="validarusuario" class="text-danger">Ingrese un correo electronico</small>
            </div>
            <div>
                <input type="password" class="fadeIn second" placeholder="password" formControlName="passwordU" [class.is-invalid]="validarpassword">
                <br><small *ngIf="validarpassword" class="text-danger">Ingrese una contraseña</small>
            </div>
            <div>
                <input type="submit" class="fadeIn fourth" value="Registrarse">
            </div>
        </form>
        <div id="formFooter">
            <a class="underlineHover" routerLink="/login"> Desea ir a iniciar session?</a>
        </div>
    </div>
</div>
